@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    
    font-family: lato, sans-serif;
    font-weight: 300;
    color:rgb(247, 239, 239);
    background-color:  rgb(20, 19, 19);
    width: auto;
    /*heading and logo*/   
}
#hero-image {
    height: 164vh;
    width: 100%;
    background-image: url(../css/images/happy\ girl.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;    
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;

}
.logo {
    
    justify-content: center;
    display: flex;
    color:rgb(188, 184, 184) ;
    font-size: 3em;
    border-bottom: rgb(188, 184, 184) ;
    border-width: 2px;
    border-bottom: solid;
    text-decoration: none;
    letter-spacing: 8px;

}

span {
    color: #7f2525;
}
nav ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    font-size: 2em;
    letter-spacing: 2px;
}
nav ul li a {
    color:rgb(188, 184, 184);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    border-bottom: 2px solid #7f2525;
    transition: .3s;

}
.active {
    border-bottom: 2px solid #7f2525;
}
#checkbox {
    display: none;
}


#cover-text {
        
        font-size: 8px;
        text-transform:none;
        letter-spacing: 4px;
        width: 85%;
        height: 120px;
        bottom: 60%;
        left: 10%;
        white-space:nowrap;
        position: absolute;
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.1);
    }
}
#cover-text h2{
    font-size: 4em;

    
}

/* about page */
#we-are  {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px; 
    position: absolute;
    left: 6%;
    top: 30%;
    text-align: left;
    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
 }
 @keyframes about-zoom {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.1);
    }
  
}
#we-are-p {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 5px;
    width: 500px;
    height: 150px;

    position:absolute;
    clear: both;
}
 
/*about page*/
#about-image {
    height: 164vh;
    width: 100%;
    background-image: url(../css/images/side\ view\ of\ woman.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;    
    overflow: hidden;
    opacity: .2;   
}
/*our models page*/
.models-gallery {
    width: 100%;
    padding: 0px;
    margin: 100px auto;
    flex-direction: column;
    justify-content:flex-end;
    left: 50%;
    clear: both;
    line-height: 0%;
    column-gap: 4px;
}
.models-gallery img {
    width: 100%;
}

#foto {
    padding-top: 30px;
    width: 600px;
    box-shadow: 0 0 10px 2px rgb(247, 239, 239);
    transition: 1s;
    
}
#foto img {
    display:block;
    width: 15%;
    border-radius: 2px;
    
    
}
#foto:hover {
    transform:scale(1.2);
    z-index: 2;
}

/*form*/

.form-image {
    background-image: url(../css/images/man\ in\ white\ top.webp);
    height: 164vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position:relative;

}

#form-section {
    clear:both;
    background-size:cover;
    background-position: center;
    overflow:hidden;

}
.signup-form {
    margin: 150px 10% 0 0;
    color: black;
    max-width: 400px;
    position: absolute;
    left: 22%;
    padding: 30px;
    font-size: 22px;

}
.signup-form > h2 {
    color: black;
    margin-bottom: 20px;
    font-size: 35px;
}
.text-input-form {
    background:transparent;
    color:#000000;
    width: 120%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    font-size: 18px;
}
#message {
    height: 100px;
    width: 120%;
}
.text-input-form:hover { 
    border-color:#3a3a3a;
    background-color: rgb(188, 184, 184);
    opacity: .9;
    
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#111111;
    display: block;
    color: rgb(188, 184, 184);
}
.join-button:hover {
    background-color:#7f2525;
    color: rgb(188, 184, 184);
    opacity: .9;
}
.container {
    background-color: rgb(20, 19, 19);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    display: block;
    justify-content: center;
    
}
.container h3 {
    font-size: 2rem;
    
}
.container h5 {
    font-size: 20px ;
    padding-bottom: 10px;

}

#table {
    padding-left: 2%;
    display: inline-block;
    align-items: center;
    background-color: rgb(20, 19, 19);
    width: 100%;
    justify-content:flex-start;
}
#table th {
    font-size: 2em;
    justify-content: flex-start;
}
table td {
    font-size: 20px;
}

footer {
    
    width: 100%;
    background-color:rgb(20, 19, 19);;
    padding: 30px 0;
    flex-direction: column;
}
.social-media {
    display: flex;
    text-align: center;
    padding-bottom: 0;
    color: rgb(247, 239, 239);
    justify-content: center;
    list-style: none;

}

.social-media a {
    font-size: 40px;
    color: inherit;
    width: 70px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    opacity: .7;
    
}

.social-media:hover {
    transition: .3s;
    color: rgb(247, 239, 239);
    transition: 1s;
    
}
#twitter:hover {
    transition: .3s;
    color:#00acee;
    transition: .3s;
}
#youtube:hover {
    transition: .3s;
    color:#FF0000;
    transition: .3s;
}
#instagram:hover {
    transition: .3s;
    color:#FCAF45;
    transition: .3s;
}
#facebook:hover{
    transition: .3s;
    color: 	#4267B2;
    transition: .3s;
}
.menu-bar-footer {
    justify-content: center;
    padding-top: 10px;
}

@media screen and (max-width:1200px) {


ul,li{
  margin: 0;
  padding: 0;
  list-style:none;
}
.main{
  position:absolute;
  z-index:1;
  
}
.main li{
  list-style:none;
  background: rgb(20, 19, 19);
  width:100px;
  padding: 0 5px;
  height: 30px;

  line-height: 25px;
  
  -webkit-transition: all .5s ease-in-out;
  
}

.main li:nth-child(odd){
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.main li:nth-child(even){
   margin-top:-65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(90deg);
}

.main {
  
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.hov:hover .main {
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
}

.hov:hover li:nth-child(odd){
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top:0;
}

.hov:hover li:nth-child(even){
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(0deg);
   margin-top:0;
}
.hov{
    font-family: inherit;
    position:relative;
    height: 40px;
    width:112px;
    background:#3a3a3a;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 40px;
    list-style:none;
    z-index:2;
    
  }


    #hero-image {
        width: 97vh;
        height:54vh ;
    }
    .form-image {
        width: 142vh;
        height: 90vh;
    }
    #about-image {
        width: 142vh;
        height: 100vh;
    }
    label .menu {
        right: 100px;

    }

    #cover-text {
        top: 35%;
        left: 5%;
        font-size: 9px;
    }

      iframe {
        width: 100%;
    }
   
}


@media screen and (max-width:900px) {
    #hero-image {
        width:72vh;
        height: 101vh;
    }
    #about-image {
        width: 47vh;
        height: 102vh;

    }
    #foto {
        width: 386px;
    }
    #we-are h2 {
        font-size: 16px;
        padding-left: 14px;
        
    }
    #we-are p {
        font-size: 18px;
        display: flex;
        width: 100%;
        padding-left: 14px;
    }
    .form-image {
        height: 47vh;
        width: 73vh;
}
    
    #cover-text {
            top: 15%;
            left: 7%;
            font-size: 3px;
}
    
    
    .logo {
        font-size: 25px;
    }
    
    #form-section {
        clear:both;
        background-size:cover;
        background-position: center;
        overflow:hidden;
    
    }
    .signup-form {
        margin: 31px 10% 0 0;
        max-width: 267px;
        left: -2%;
        padding: 30px;
        font-size: 14px;
    
    }
    .signup-form > h2 {
        color: black;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .text-input-form {
        background:transparent;
        color:#000000;
        width: 120%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #3a3a3a;
        border-radius: 2px;
        font-size: 18px;
    }
    #message {
        height: 100px;
        width: 120%;
    }
    .text-input-form:hover { 
        border-color:#3a3a3a;
        background-color: rgb(188, 184, 184);
        opacity: .9;
}
iframe {
    width: 100%;
}
.container h3 {
    font-size: 1rem;
}
.container h5 {
    font-size: 13px ;
}
#table th {
    font-size: 1em;
}
table td {
    font-size: 13px;
}
}

