@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: lato, sans-serif;
    font-weight: 300;
    color: rgb(188, 184, 184);
    background-color:  rgb(20, 19, 19);
    width: auto;
    /*heading and logo*/   
}
#hero-image {
    height: 1400px;
    width: 100%;
    background-image: url(../css/images/happy\ girl.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;    
    overflow: hidden;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.logo {
    color:rgb(188, 184, 184) ;
    font-size: 4em;
    border-bottom: rgb(188, 184, 184) ;
    border-width: 2px;
    border-bottom: solid;
}
span {
    color: #7f2525;
}
nav ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    font-size: 2em;
}
nav ul li a {
    color:#3a3a3a;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    border-bottom: 2px solid #7f2525;
    transition: .3s;

}



/*
#logo {
    float: left;
    font-size: 280%;
    margin-left: 150px;
    border-bottom: 2px solid #3a3a3a;
    position: relative;
    
}
    h1,h2{
        font-family: 'Oswald' sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: rgb(188, 184, 184);
        margin-right: 30px;
        
    }

#mennu, #logo {
line-height: 75px;
position: relative;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 30px;
    
    
}
#menu a {
text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    
}
.active {
    border-bottom: none
}
*/


/*
#hero-image{
    height: 1400px;
    width: 100%;
    background: url(../css/images/happy\ girl.jpeg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    opacity: .7;
    */
    
    

#cover-text {
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 1000px;
    height: 100px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(53, 49, 49, 0.5);
    bottom: 60%;
    right: 150px;
    position: absolute;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.1);
    }
}
#cover-text h2{
    font-size: 40px;
    color: #3a3a3a;
    border-bottom: 1px solid;
}
#we-are h2 {
    font-family: 'Oswald' sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px; 
    margin-left: 350px ;
    margin-top: 250px;
    position: absolute;
    text-align: left 10;
    clear: both;
  
}
#we-are-p {
    font-family: 'Oswald' sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 5px;
    width: 500px;
    height: 150px;
    margin-left: 360px;
    margin-top: 310px;
    position:absolute;
    clear: both;
}
 #we-are h2 {
    background-color: #3a3a3a;
    opacity: .9;
    padding-bottom: 500px;
    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
 }
 @keyframes about-zoom {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.1);
    }
}
/*
#table-image {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: center;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position:absolute;
    opacity: .6; 
} */
.table-image {
background-image: url(../css/images/man\ in\ white\ top.webp);
height: 1400px;
width: 100%;
background-repeat: no-repeat;
background-size:auto ;
background-position: right;
overflow: hidden;
margin-left: 0%;
margin-top: 0%;
position:relative;
opacity: .6; 

}
#table {
    background-color: #3a3a3a;
    background-image: url(../css/images/side\ view\ of\ woman.jpeg);
    width: 400px;
    position:relative;
    text-align: left;
    margin-right: 500px;
    margin-left: 200px;
    margin-bottom: 5px;
    padding-right: 200px;
    
   }
#table th {
    text-align: center;
}


#about-image {
    background-image: url(../css/images/side\ view\ of\ woman.jpeg);
    height: 1400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    opacity: .6;   
}
.models-gallery {
    width: 90%;
    padding: 0px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#foto {
    padding-top: 300px;
    width: 350px;
    margin: 0 10px;
    box-shadow: 0 0 10px 2px rgb(0,0,0 .1);
    transition: 1s;
    
}
#foto img {
    display:block;
    width: 100%;
    border-radius: 2px;
    
    
}
#foto:hover {
    transform:scale(1.2);
    z-index: 2;
}
#model-names {
    float: right;
    list-style: none;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 30px;
    display: block;
}

/*form*/

.form-image {
    background-image: url(../css/images/man\ in\ white\ top.webp);
    height: 1400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:auto ;
    background-position: right;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position:relative;
    opacity: .6; 

}

#form-section {
    clear:both;
    background-size:cover;
    background-position: center;
    overflow:hidden;
}
.signup-form {
    margin: 150px 10% 0 0;
    color: #3a3a3a;
    max-width: 400px;
    position: absolute;
    left: 22%;
    padding: 30px;

}
.signup-form > h2 {
    color: #3a3a3a;
    margin-bottom: 20px;
}
.text-input-form {
    background:transparent;
    color:#3a3a3a;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
}
.text-input-form:hover { 
    border-color:#3a3a3a;
    background-color: rgb(188, 207, 188);
    opacity: .9;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#3a3a3a;
    display: block;
}
.join-button:hover {
    background-color: rgb(36, 53, 36);
    color: rgb(188, 184, 184);
    opacity: .9;
}
footer {
    height: 100px;
    background-color:#3a3a3a;
    opacity: .5;
}

#footer-text {
    text-align: center;
    display: block;
}
#footer-text h3 {
    float:right;
    text-align: center;
    letter-spacing: 2px;
    list-style:none;
    margin-right: 700px;
    margin-top: 5px;
    font-size: 30px; 
    padding-bottom: 0px;
}
#footer-text p {
    float:right;
    text-align: center;
    letter-spacing: 2px;
    list-style:none;
    margin-right: 530px;
    margin-top: 5px;
    font-size: 20px;

}
.social-media {
    text-align: center;
    display: block;
    }
    
    .social-media li {
        float: right;
        list-style:none;
        margin-right: 10px;
        margin-top: 35px;
        font-size: 15px;  
        text-align: center;
        padding-left: 100px;
    }
    .social-media a {
    text-decoration: none;
        color: inherit;
    }
    .social-media a:hover {
        border-bottom: 1px solid #3a3a3a;
    }



@media screen and (max-width:1200px ){
    body {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    div #cover-text {
        padding: 30px 0;
        margin-top: 0;
    }
    * {
        padding: 30px 0;
        margin-top: 0;
    }
    
    }
    @media screen and(max-width: 950px) {
        #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }
        #cover-text {
            left: 0;
        }
        #cover-text h2 {
            width: 90%;
            height: 1200px;
            margin-bottom: 0 auto;
        }
        #we-are {
            width: 90%;
            height: 1200px;
            margin-bottom: 0 auto;
        }
        #models-gallery {
            column-count: 2;
        }

    }
    @media screen and(max-width: 800px) {
        #models-gallery {
            column-count: 2;
    }
        
    }

    



