@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    padding: 0%;
    margin: 0%;
    border: none;
}
body{
    font-family: lato, sans-serif;
    font-weight: 300;
    color: rgb(188, 184, 184);
    background-color:  rgb(20, 19, 19);
    width: auto;
    /*heading and logo*/   
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 150px;
    border-bottom: 2px solid #3a3a3a;
    position: relative;
    
}
    h1,h2{
        font-family: 'Oswald' sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: rgb(188, 184, 184);
        margin-right: 30px;
        
    }
 h2 {
    float: ;
    font-size: 300px;
}
#mennu, #logo {
line-height: 75px;
position: relative;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 150px;
    margin-top: 30px;
    font-size: 30px;
    
    
}
#menu a {
text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    
}
.active {
    border-bottom: none
}
#hero-image{
    height: 1400px;
    width: 100%;
    background: url(../css/images/happy\ girl.jpeg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    opacity: .5;
    
    
}

#cover-text {
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 1000px;
    height: 100px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(53, 49, 49, 0.5);
    bottom: 60%;
    right: 150px;
    position: absolute;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.1);
    }
}
#cover-text h2{
    font-size: 40px;
    color: #3a3a3a;
    border-bottom: 1px solid;
}
#we-are h2 {
    font-family: 'Oswald' sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px; 
    margin-left: 350px ;
    margin-top: 250px;
    position: absolute;
    text-align: left 10;
    clear: both;
  
}
#we-are-p {
    font-family: 'Oswald' sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 5px;
    width: 500px;
    height: 150px;
    margin-left: 360px;
    margin-top: 310px;
    position:absolute;
    clear: both;
}
 #we-are h2 {
    background-color: #3a3a3a;
    opacity: .9;
    padding-bottom: 500px;
    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
 }
 @keyframes about-zoom {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.1);
    }
}
#table {
    background-color: #3a3a3a;
    width: 400px;
    position:relative;
    text-align: left;
    margin-right: 500px;
    margin-left: 200px;
    margin-bottom: 200px;
    padding-right: 200px;
    
   }
#table th {
    text-align: center;
}


#about-image {
    background-image: url(../css/images/side\ view\ of\ woman.jpeg);
    height: 1400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    overflow: hidden;
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    opacity: .5;   
}


